/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway/raleway-v18-latin_cyrillic-regular.eot");
  src: local(""),
    url("../fonts/raleway/raleway-v18-latin_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/raleway/raleway-v18-latin_cyrillic-regular.woff2")
      format("woff2"),
    url("../fonts/raleway/raleway-v18-latin_cyrillic-regular.woff")
      format("woff"),
    url("../fonts/raleway/raleway-v18-latin_cyrillic-regular.ttf")
      format("truetype"),
    url("../fonts/raleway/raleway-v18-latin_cyrillic-regular.svg#Raleway")
      format("svg");
}
/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway/raleway-v18-latin_cyrillic-700.eot");
  src: local(""),
    url("../fonts/raleway/raleway-v18-latin_cyrillic-700.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/raleway/raleway-v18-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/raleway/raleway-v18-latin_cyrillic-700.woff") format("woff"),
    url("../fonts/raleway/raleway-v18-latin_cyrillic-700.ttf")
      format("truetype"),
    url("../fonts/raleway/raleway-v18-latin_cyrillic-700.svg#Raleway")
      format("svg");
}
